@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');


.search {
    width: 100%;
    padding-top: 2rem;
    background-size:cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2%;
    border: 2px solid whitesmoke;
    border-radius: 20px;
}

.search input {
    border-radius: 10px;
}

.dv {
    color: aliceblue;
}

::placeholder{
    color:burlywood;
    text-align: center;
}

@media screen and (max-widht: 576px) {
    
    .search {
        
    }

}
