.search {
    width: 100%;
    padding-top: 2rem;
    background-image: url(../immagini/ciao1.jpg);
    background-size:cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2%;
}

.bar-search {
    width: 100%;
    max-width: 600px;
    display: flex;
    background: rgba(red, green, blue, 0.2);
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(5px) saturate(180%);
}

.bar-search input{
    background: transparent;
    flex:1;
    border: 0;
    outline: none;
    padding: 20px 16px;
    font-size:20px;
    color: #fbfbff;
}

::placeholder{
    color:#cac7ff;
}

.bar-search button img{
    width: 25px;
}

.bar-search button{
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 50%;
    background: #58629b;
    cursor:pointer;
}