
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import 'searchbar.css';
@import 'hotel.css';

.body {
    background-color: burlywood;
    background:fixed;
}

#logonav {
    width: 100px;
    height: 70px;
    float: left;
    margin-top: 1%;
}

.navbar {
    position: sticky;
    top: 0px;
}

.navbar button {
    float: right;
    margin-top: 1%;
}

.carousel-inner {
    border-radius: 20px;
    margin-top: 3rem;
    margin-right: 2px;
}

.footer {
    background-color: rgb(158, 130, 93);
    bottom: 0;
    position: fixed;
}

.we {
    color:antiquewhite;
}

.img{
    margin-top: 3rem;
    float: right;
}

.padding{
    padding: 3rem;
    right: 15%;
    position: fixed;
    font-family: 'Noto Serif KR', serif;
}

.padding2{
    right: 15%;
    font-family: 'Noto Serif KR', serif;
}

bordo-b{
    border: 2px solid black;
    background-color: yellow;
}

.card{
    height: 750px;
}

.datepicker{
    border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  label {
    display: block;
  }


@media only screen and (max-width: 767px) {
    .card {
    height: 1050px;
    }
}

.prenotazioni{
    width: 75%;
    padding: 2rem;
    background-color: green;
    border-radius: 20%;
}

