
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import 'searchbar.css';

body {
    background-color: burlywood;
}

#logonav {
    width: 100px;
    height: 70px;
    float: left;
    margin-top: 1%;
}

.navbar {
    position: sticky;
}

.navbar button {
    float: right;
    margin-top: 1%;
}

.carousel-inner {
    border-radius: 20px;
    margin-top: 3rem;
    margin-right: 2px;
}

.footer {
    background-color: rgb(158, 130, 93);
    bottom: 0;
    position: fixed;
}

hr.l {
    width: 1000%;
    left: 0;
    position: fixed;
    border-top: 2px solid white;
}

.img{
    margin-top: 3rem;
    float: right;
}

.padding{
    padding: 3rem;
    right: 15%;
    position: fixed;
    
    font-family: 'Noto Serif KR', serif;
}

.padding2{
    right: 15%;
    font-family: 'Noto Serif KR', serif;
}



